.carousel-list{
    margin:0;
    padding:0;
    list-style-type:none;
}
.carousel,.carousel-list{
    overflow: hidden;
}
.carousel-horizontal .carousel-item{
    float:left;
}
/*control*/
.carousel-horizontal .carousel-control{
    position: absolute;
    font-size:3em;
    top:50%;
    transform:translateY(-50%);
    padding:10px;
    cursor:pointer;
}
.carousel-horizontal .carousel-control.prev{
    left:0;
}
.carousel-horizontal .carousel-control.next{
    right:0;
}