*{
    margin:0;
    padding:0;
}
.carousel-list{
    margin:0;
    padding:0;
    list-style-type:none;
}
.carousel,.carousel-list{
    overflow: hidden;
}
.carousel-horizontal .carousel-item{
    float:left;
}
/*control*/
.carousel-control{
    position:absolute;
    font-size:3em;
    padding:10px;
    cursor:pointer; 
    line-height:1;  
}
.carousel-horizontal .carousel-control{
    top:50%;
    transform:translateY(-50%);
}
.carousel-horizontal .carousel-control.prev{
    left:0;
}
.carousel-horizontal .carousel-control.next{
    right:0;
}
.carousel-horizontal .carousel-nav{
    position:absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-50%);
}
.carousel-horizontal .carousel-nav li{
    display: inline-block;
    border-radius: 50%;
    margin:0 5px;
    width:10px;
    height:10px;
    background-color:#aaa;
    cursor:pointer;
}
.carousel-horizontal .carousel-nav li:hover,.carousel-horizontal .carousel-nav li.active{
    background-color:#fff;
}
.carousel-vertical .carousel-control{
    left:50%;
}
.carousel-vertical .carousel-control.prev{
    top:0;
    transform: translateX(-50%) rotate(90deg);
}
.carousel-vertical .carousel-control.next{
    bottom:0;
    transform: translateX(-50%) rotate(90deg);
}