* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

#container {
    height: 100%;
}

.sections,
.section {
    height: 100%;
}
.sections{
    overflow: visible;
}
.section1 {
    background-color: red;
}

.section2 {
    background-color: blue;
}

.section3 {
    background-color: pink;
}

.section4 {
    background-color: yellow;
}

.nav-tabs {
    position: fixed;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    list-style-type: none;
}

.nav-tabs .nav-item {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid #000;
    margin-bottom: 15px;
    transition:transform 400ms linear;
    cursor:pointer;
}
.nav-tabs .nav-item.active{
    transform:scale(1.1);
    background-color:#fff;
}
